:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.full-header {
  display: flex;
  justify-content: space-between;
  background-color: blueviolet;
}

.top-banner {
  display: flex;
  justify-content: flex-start;
}

.anchors {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: .5rem;
}

.astro-lounge {
  margin-left: 1rem;
  color: whitesmoke;
  font-weight: 300;
}

.about {
  margin-right: 2rem;
  color: whitesmoke;
  text-decoration-line: underline;
}

.contact-us {
  margin-right: 1rem;
  color: whitesmoke;
  text-decoration-line: underline;
}

.picture-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem;
}

.picture-background-words {
  text-align: center;
  font-size: 2rem;
  padding: 8rem 0 8rem 0;
  margin-bottom: 1rem;
  color: whitesmoke;
  font-weight: 600;
}

.copy-right {
  text-align: center;
  font-size: .8rem;
  margin-top: .2rem;
  margin-bottom: -1rem;
}

.spacex {
  background-color: rgb(255, 193, 7);
  margin-top: -1rem;
}

.card-style {
  border-bottom: .05rem solid black;
  width: 50rem;
}

.main-container {
  border: 0.1rem solid black;
  padding: 1rem;
  border-radius: 10px;
}

.left-arrow {
  background-color: rgb(255, 193, 7);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 2.5rem;
  width: 15rem;
  margin-top: 6rem;
  font-weight: 1000;
  font-size: 1.5rem;

}

.right-arrow {
  background-color: rgb(255, 193, 7);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  height: 2.5rem;
  width: 15rem;
  margin-top: 6rem;
  font-weight: 1000;
  font-size: 1.5rem;
}

.spacex-Launches {
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem;
}

.cards-and-arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.light-purple-section {
  background-color: rgb(192, 174, 192);
  padding: 1rem;
  margin-top: 1rem;
}

.mission {
  text-align: center;
}

.alien {
  text-align: center;
}

.bottom-part {
  background-color: rgb(144, 79, 206);
  padding: 2rem;
}

.footer {
  text-align: center;
  color: whitesmoke;
}

.footer-anchor {
  color: whitesmoke;
  text-decoration-line: underline;
}